@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/**

	VARIABLE:
	- Color Palletes
	- Typography

 */
/**
=========================
	- Color Palletes
=========================
*/
/**
=========================
	- Typography
=========================
*/
/**
=========================
	- Shadow
=========================
*/
/**
=========================
	- Font Size
=========================
*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #FAFAFA;
  scroll-behavior: smooth;
}

#modalDetailProdi .modal-dialog {
  width: 600px;
}

@media (max-width: 768px) {
  #modalDetailProdi .modal-dialog {
    width: 100%;
    max-width: unset;
  }
}

#modalDetailProdi .modal-content {
  padding: 0;
  border-radius: 8px;
}

#modalDetailProdi .modal-header {
  position: relative;
  padding: 24px 18px;
}

#modalDetailProdi .modal-header .close-btn {
  position: absolute;
  right: -25px;
  top: -20px;
  background-color: transparent;
  border: 0;
}

#modalDetailProdi .modal-header .close-btn img {
  width: 40px;
  height: 40px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

@media (max-width: 768px) {
  #modalDetailProdi .modal-header .close-btn {
    right: 5px;
    top: 5px;
  }
}

#modalDetailProdi .modal-body {
  padding: 0;
}

#modalDetailProdi .flex-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#modalDetailProdi .flex-title img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

#modalDetailProdi .flex-title .info {
  margin-top: -5px;
}

#modalDetailProdi .flex-title .info small {
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #7A7A7A;
  margin-bottom: 3px;
}

#modalDetailProdi .flex-title .info h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #232429;
  margin-bottom: 0;
}

#modalDetailProdi .flex-title .form-select {
  cursor: pointer;
  width: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #0052D4;
  background-color: #EFF1FF;
  border: 0.5px solid #EFF1FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 8px 16px rgba(234, 234, 234, 0.25);
          box-shadow: 0px 8px 16px rgba(234, 234, 234, 0.25);
  border-radius: 4px;
  height: 36px;
}

#modalDetailProdi .title-detail-transaksi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
  padding: 0 18px;
}

#modalDetailProdi .title-detail-transaksi h3 {
  font-size: 14px;
  color: #232429;
  font-weight: 500;
  letter-spacing: 0.005em;
  text-transform: capitalize;
}

#modalDetailProdi .table-detail-prodi thead {
  background: #f8f9ff;
}

#modalDetailProdi .table-detail-prodi thead tr {
  border: none;
}

#modalDetailProdi .table-detail-prodi thead tr th {
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #7A7A7A !important;
  padding: 11px 24px;
  text-align: center;
}

#modalDetailProdi .table-detail-prodi thead tr th:first-child {
  text-align: left;
}

#modalDetailProdi .table-detail-prodi tbody tr td {
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #232429;
  padding: 11px 24px;
}

#modalDetailProdi .table-detail-prodi tbody tr td:first-child {
  width: 180px;
}

#modalDetailProdi .table-detail-prodi tbody tr .text-active {
  color: #00C6FF;
}

#modalDetailProdi .table-detail-prodi tbody tr .text-inactive {
  color: #7A7A7A;
}

#banner-search {
  background: url("/img/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 576px) {
  #banner-search {
    padding: 28px 0;
  }
}

#banner-search .logo {
  margin-bottom: 12px;
}

@media (max-width: 576px) {
  #banner-search .logo img {
    height: 45px;
  }
}

#banner-search .search-form {
  -webkit-box-shadow: 0px 3px 2px rgba(32, 50, 173, 0.2);
          box-shadow: 0px 3px 2px rgba(32, 50, 173, 0.2);
}

#banner-search .search-form .select-search {
  position: relative;
}

#banner-search .search-form .select-search i {
  right: 0;
  top: 0;
}

@media (max-width: 576px) {
  #banner-search .search-form .select-search i {
    display: none;
  }
}

#banner-search .search-form select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  font-weight: 600;
  width: 150px;
  height: 50px;
  color: #0052D4;
  border-radius: 4px 0 0 4px;
  font-size: 12px;
  outline: none;
  border-right: 1px solid #EFF1FF;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
}

@media (max-width: 576px) {
  #banner-search .search-form select {
    width: auto;
    font-size: 10px;
    height: 45px;
  }
}

#banner-search .search-form select option {
  border: 0;
  color: #232429;
  font-weight: 500;
}

#banner-search .search-form .search {
  position: relative;
}

#banner-search .search-form .search i {
  font-size: 20px;
  color: #0052D4;
  position: absolute;
  right: 10px;
  top: 10px;
}

@media (max-width: 576px) {
  #banner-search .search-form .search i {
    font-size: 16px;
  }
}

#banner-search .search-form input[type="text"] {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0 4px 4px 0;
  border: 0;
  font-size: 12px;
}

@media (max-width: 576px) {
  #banner-search .search-form input[type="text"] {
    font-size: 10px;
    height: 45px;
  }
}

#main-content {
  margin: 32px 0;
}

#main-content .info-kampus .heading-kampus {
  padding-bottom: 20px;
  border-bottom: 1px solid #EFF1FF;
  margin-bottom: 20px;
}

#main-content .info-kampus .heading-kampus img {
  width: 55px;
  height: 55px;
  min-width: 55px;
  min-height: 55px;
  max-width: 55px;
  max-height: 55px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 8px;
}

#main-content .info-kampus .heading-kampus h2 {
  font-size: 14px;
  font-weight: 600;
  color: #232429;
  margin-bottom: 4px;
  line-height: 21px;
  letter-spacing: 0.005em;
}

#main-content .info-kampus .heading-kampus p {
  font-size: 12px;
  letter-spacing: 0.005em;
  color: #7A7A7A;
  margin: 0;
  font-weight: 600;
}

#main-content .info-kampus .list-info {
  margin-bottom: 20px;
}

#main-content .info-kampus .list-info:last-child {
  margin-bottom: 0;
}

#main-content .info-kampus .list-info img {
  margin-right: 12px;
  width: 36px;
  height: 36px;
}

#main-content .info-kampus .list-info h4 {
  font-size: 12px;
  margin-bottom: 0;
  letter-spacing: 0.005em;
  text-transform: capitalize;
}

#main-content .info-website img {
  width: 100%;
  height: 368px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 576px) {
  #main-content .info-website img {
    height: auto;
  }
}

#main-content .container-chart {
  position: relative;
}

@media (max-width: 576px) {
  #main-content .container-chart canvas {
    width: 170px !important;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
  }
}

#main-content .container-chart .chart-rasio {
  position: absolute;
  top: 92px;
  text-align: center;
  left: 43%;
}

@media (max-width: 576px) {
  #main-content .container-chart .chart-rasio {
    position: absolute;
    top: 65px;
    text-align: center;
    left: 45.6%;
  }
}

#main-content .container-chart .chart-rasio h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  color: #232429;
}

#main-content .container-chart .chart-rasio small {
  font-size: 12px;
  color: #7A7A7A;
}

#main-content .chart-rasio-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

#main-content .chart-rasio-footer .chart-label {
  border-right: 1px solid #EFF1FF;
  padding: 0 28px;
  text-align: center;
}

#main-content .chart-rasio-footer .chart-label h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  margin-bottom: 0;
  color: #232429;
}

#main-content .chart-rasio-footer .chart-label small {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #7A7A7A;
}

#main-content .chart-rasio-footer .chart-label .small-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content .chart-rasio-footer .chart-label .small-label .red-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#DD2476));
  background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
  margin-right: 4px;
}

#main-content .chart-rasio-footer .chart-label .small-label .blue-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#00C6FF), to(#0072FF));
  background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
  margin-right: 4px;
}

#main-content .chart-rasio-footer .chart-label:last-child {
  border-right: none !important;
}

#main-content .info-stat {
  margin-bottom: 20px;
  margin-right: 4px;
}

#main-content .info-stat img {
  margin-right: 12px;
  width: 36px;
  height: 36px;
}

#main-content .info-stat .info small {
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #7A7A7A;
  margin-bottom: 3px;
}

#main-content .info-stat .info h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #232429;
  margin-bottom: 0;
}

#main-content .jumlah-akreditasi-prodi {
  width: 100%;
  margin-bottom: 16px;
  border-bottom: 1px solid #EFF1FF;
  padding-bottom: 16px;
}

#main-content .jumlah-akreditasi-prodi:last-child {
  border-bottom: 0;
}

#main-content .jumlah-akreditasi-prodi img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

#main-content .jumlah-akreditasi-prodi .info {
  margin-top: -5px;
}

#main-content .jumlah-akreditasi-prodi .info small {
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #7A7A7A;
  margin-bottom: 3px;
}

#main-content .jumlah-akreditasi-prodi .info h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #232429;
  margin-bottom: 0;
}

#main-content .jumlah-akreditasi-prodi button {
  background: #FFFFFF;
  border: 1px solid #0052D4;
  border-radius: 4px;
  padding: 6px 16px;
  font-size: 12px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #0052D4;
  font-weight: 500;
}

#main-content .info-jml-mahasiswa {
  margin-top: 20px;
}

#main-content .info-jml-mahasiswa .round-gradient-1 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#00C6FF), to(#0072FF));
  background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-2 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#DD2476));
  background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-3 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#E43A15), to(#E65245));
  background: linear-gradient(90deg, #E43A15 0%, #E65245 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-4 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#FFB75E), to(#ED8F03));
  background: linear-gradient(90deg, #FFB75E 0%, #ED8F03 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-5 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#834D9B), to(#D04ED6));
  background: linear-gradient(90deg, #834D9B 0%, #D04ED6 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-6 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#FFB347), to(#FFCC33));
  background: linear-gradient(90deg, #FFB347 0%, #FFCC33 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-7 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#FF5F6D), to(#FFC371));
  background: linear-gradient(90deg, #FF5F6D 0%, #FFC371 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-9 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#00C6FF), to(#0072FF));
  background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-10 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#673AB7), to(#512DA8));
  background: linear-gradient(90deg, #673AB7 0%, #512DA8 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-11 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#834D9B), to(#D04ED6));
  background: linear-gradient(90deg, #834D9B 0%, #D04ED6 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-12 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#2B5876), to(#4E4376));
  background: linear-gradient(90deg, #2B5876 0%, #4E4376 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-13 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#EC008C), to(#FC6767));
  background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-14 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#F953C6), to(#B91D73));
  background: linear-gradient(90deg, #F953C6 0%, #B91D73 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-15 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#1DA1F2), to(#009FFC));
  background: linear-gradient(90deg, #1DA1F2 0%, #009FFC 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-16 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#4776E6), to(#8E54E9));
  background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-17 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#C0392B), to(#8E44AD));
  background: linear-gradient(90deg, #C0392B 0%, #8E44AD 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-18 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#200122), to(#6F0000));
  background: linear-gradient(90deg, #200122 0%, #6F0000 100%);
}

#main-content .info-jml-mahasiswa .round-gradient-19 {
  border-radius: 3px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#02AAB0), to(#00CDAC));
  background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);
}

#main-content .info-jml-mahasiswa small {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #232429;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#main-content .progress-total-mhs {
  height: 32px;
  overflow: hidden;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  border-radius: 50px;
  margin-top: 20px;
  background-color: transparent;
  width: 100%;
}

#main-content .progress-total-mhs .progress-gradient-laki {
  border-radius: 36px;
  border: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, from(#00C6FF), to(#0072FF));
  background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
  z-index: 1;
}

#main-content .progress-total-mhs .progress-gradient-perempuan {
  margin-left: -24px;
  border-radius: 36px;
  border: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, from(#FF5F6D), to(#FFC371));
  background: linear-gradient(90deg, #FF5F6D 0%, #FFC371 100%);
  z-index: 0;
}

#main-content .progress-total-mhs .progress-gradient-dosen-laki {
  border-radius: 36px;
  border: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, from(#1488CC), to(#2B32B2));
  background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
  z-index: 1;
}

#main-content .progress-total-mhs .progress-gradient-dosen-perempuan {
  margin-left: -24px;
  border-radius: 36px;
  border: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#F09819));
  background: linear-gradient(90deg, #FF512F 0%, #F09819 100%);
  z-index: 0;
}

#main-content .progress-total-mhs .progress-gradient-jenjang-1 {
  border-radius: 36px;
  border: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, from(#00C6FF), to(#0072FF));
  background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
  z-index: 4;
}

#main-content .progress-total-mhs .progress-gradient-jenjang-2 {
  margin-left: -24px;
  border-radius: 36px;
  border: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, from(#673AB7), to(#512DA8));
  background: linear-gradient(90deg, #673AB7 0%, #512DA8 100%);
  z-index: 3;
}

#main-content .progress-total-mhs .progress-gradient-jenjang-3 {
  margin-left: -24px;
  border-radius: 36px;
  border: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, from(#834D9B), to(#D04ED6));
  background: linear-gradient(90deg, #834D9B 0%, #D04ED6 100%);
  z-index: 2;
}

#main-content .progress-total-mhs .progress-gradient-jenjang-4 {
  margin-left: -24px;
  border-radius: 36px;
  border: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, from(#2B5876), to(#4E4376));
  background: linear-gradient(90deg, #2B5876 0%, #4E4376 100%);
  z-index: 1;
}

#main-content .progress-total-mhs .progress-gradient-jenjang-5 {
  margin-left: -24px;
  border-radius: 36px;
  border: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, from(#EC008C), to(#FC6767));
  background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
  z-index: 0;
}

.card-component {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 16px rgba(234, 234, 234, 0.25);
          box-shadow: 0px 8px 16px rgba(234, 234, 234, 0.25);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 32px;
  min-height: 395px;
}

.card-component .title {
  margin-bottom: 20px;
}

.card-component .title h4 {
  font-size: 14px;
  font-weight: 600;
  color: #232429;
  margin-bottom: 4px;
  line-height: 21px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
}

.card-component .title p {
  font-size: 12px;
  letter-spacing: 0.005em;
  color: #7A7A7A;
  margin: 0;
  font-weight: 600;
}

@media (max-width: 576px) {
  .card-component {
    height: auto;
    min-height: 0;
  }
}

.card-component-small {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 16px rgba(234, 234, 234, 0.25);
          box-shadow: 0px 8px 16px rgba(234, 234, 234, 0.25);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 32px;
  min-height: 180px;
}

.card-component-small .title {
  margin-bottom: 8px;
}

.card-component-small .title h4 {
  font-size: 14px;
  font-weight: 600;
  color: #232429;
  margin-bottom: 4px;
  line-height: 21px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
}

.card-component-small .title p {
  font-size: 12px;
  letter-spacing: 0.005em;
  color: #7A7A7A;
  margin: 0;
  font-weight: 600;
}

.card-component-small .title .red-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#DD2476));
  background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-component-small .title .blue-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#00C6FF), to(#0072FF));
  background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-component-small .jumlah-total h3 {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.005em;
  text-transform: capitalize;
}

.card-component-small .jumlah-total .red-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#DD2476));
  background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-component-small .jumlah-total .blue-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#00C6FF), to(#0072FF));
  background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 576px) {
  .card-component-small {
    height: auto;
    min-height: 0;
  }
}

.card-texture {
  background: url("/img/card-texture.png");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 189px;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 16px rgba(234, 234, 234, 0.25);
          box-shadow: 0px 8px 16px rgba(234, 234, 234, 0.25);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 28px;
}

@media (max-width: 576px) {
  .card-texture {
    height: auto;
    min-height: 0;
  }
}

.card-texture .title {
  margin-bottom: 20px;
}

.card-texture .title h4 {
  font-size: 14px;
  font-weight: 600;
  color: #232429;
  margin-bottom: 4px;
  line-height: 21px;
  letter-spacing: 0.005em;
}

.card-texture .title p {
  font-size: 12px;
  letter-spacing: 0.005em;
  color: #7A7A7A;
  margin: 0;
  font-weight: 600;
}

.card-texture h3 {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 700;
}

.card-texture .red-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#FF512F), to(#DD2476));
  background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-texture .blue-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#00C6FF), to(#0072FF));
  background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.skeleton-info-pt * {
  visibility: hidden;
}

.skeleton-web-stats * {
  visibility: hidden;
}

.skeleton-web * {
  visibility: hidden;
}

.skeleton-lokasi * {
  visibility: hidden;
}

.skeleton-rasio-dosen * {
  visibility: hidden;
}

.skeleton-prodi * {
  visibility: hidden;
}

.skeleton-chart * {
  visibility: hidden;
}

.skeleton-progress * {
  visibility: hidden;
}

.skeleton-info-pt {
  background-image: url("/img/skeleton/skeleton-info-pt.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
}

.skeleton-info-pt::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 1s infinite;
          animation: shimmer 1s infinite;
  content: '';
}

.skeleton-web-stats {
  background-image: url("/img/skeleton/skeleton-web-stats.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
}

.skeleton-web-stats::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 1s infinite;
          animation: shimmer 1s infinite;
  content: '';
}

.skeleton-web {
  background-image: url("/img/skeleton/skeleton-web.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
}

.skeleton-web::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 1s infinite;
          animation: shimmer 1s infinite;
  content: '';
}

.skeleton-lokasi {
  background-image: url("/img/skeleton/skeleton-lokasi.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
}

.skeleton-lokasi::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 1s infinite;
          animation: shimmer 1s infinite;
  content: '';
}

.skeleton-rasio-dosen {
  background-image: url("/img/skeleton/skeleton-rasio-dosen.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
}

.skeleton-rasio-dosen::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 1s infinite;
          animation: shimmer 1s infinite;
  content: '';
}

.skeleton-prodi {
  background-image: url("/img/skeleton/skeleton-prodi.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
}

.skeleton-prodi::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 1s infinite;
          animation: shimmer 1s infinite;
  content: '';
}

.skeleton-chart {
  background-image: url("/img/skeleton/skeleton-chart.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
}

.skeleton-chart::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 1s infinite;
          animation: shimmer 1s infinite;
  content: '';
}

.skeleton-progress {
  background-image: url("/img/skeleton/skeleton-progress.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
}

.skeleton-progress::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 1s infinite;
          animation: shimmer 1s infinite;
  content: '';
}
/*# sourceMappingURL=main.css.map */