body{
    font-family: $font-family;
    background-color: #FAFAFA;
    scroll-behavior: smooth;
}
#modalDetailProdi {
    .modal-dialog{
        width: 600px;
        @media (max-width: 768px) { 
            width: 100%;
            max-width: unset;
        }
    }
    .modal-content{
        padding: 0;
        border-radius: 8px;
    }
    .modal-header{
        position: relative;
        padding: 24px 18px;
        .close-btn{
            img{
                width: 40px;
                height: 40px;
                border: 3px solid rgba(255, 255, 255, 0.5);
                border-radius: 50%;
            }
            position: absolute;
            right: -25px;
            top: -20px;
            background-color: transparent;
            border: 0;
            @media (max-width: 768px) { 
                right: 5px;
                top: 5px;
            }
        }
    }
    .modal-body{
        padding: 0;
    }
    .flex-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        img{
            width: 40px;
            height: 40px;
            margin-right: 12px;
        }
        .info{
            margin-top: -5px;
            small{
                font-weight: 500;
                font-size: 10px;
                line-height: 0;
                letter-spacing: 0.005em;
                text-transform: capitalize;
                color: $color-black-alpha;
                margin-bottom: 3px;
            }
            h4{
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.005em;
                text-transform: capitalize;
                color: $color-black;
                margin-bottom: 0;
            }
        }
        .form-select{
            cursor: pointer;
            width: auto;
            font-family: $font-family;
            font-weight: 500;
            font-size: 11px;
            letter-spacing: 0.005em;
            text-transform: capitalize;
            color: #0052D4;
            background-color: #EFF1FF;
            border: 0.5px solid #EFF1FF;
            box-sizing: border-box;
            box-shadow: 0px 8px 16px rgba(234, 234, 234, 0.25);
            border-radius: 4px;
            height: 36px;
        }
    }
    .title-detail-transaksi{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 14px;
        padding: 0 18px;
        h3{
            font-size: 14px;
            color: $color-black;
            font-weight: 500;
            letter-spacing: 0.005em;
            text-transform: capitalize;
        }
    }
    .table-detail-prodi{
        thead{
            background: #f8f9ff;
            tr{
                border: none;
                th{
                    border: none;
                    font-family: $font-family;
                    font-weight: 500;
                    font-size: 12px;
                    letter-spacing: 0.005em;
                    text-transform: capitalize;
                    color: $color-black-alpha !important;
                    padding: 11px 24px;
                    text-align: center;
                    &:first-child{
                        text-align: left;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    border: none;
                    font-family: $font-family;
                    font-weight: 500;
                    font-size: 12px;
                    letter-spacing: 0.005em;
                    text-transform: capitalize;
                    color: $color-black;
                    padding: 11px 24px;
                    &:first-child{
                        width: 180px;
                    }
                }
                .text-active{
                    color: #00C6FF;
                }
                .text-inactive{
                    color: $color-black-alpha;
                }
            }
        }
    }
}
#banner-search{
    background:url("/img/bg-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 0;
    text-align: center;
    font-family: $font-family;
    @media (max-width: 576px) {
        padding: 28px 0;
    }
    .logo{
        margin-bottom: 12px;
        img{
            @media (max-width: 576px) {
                height: 45px;
            }
        }
    }
    .search-form{
        box-shadow: 0px 3px 2px rgba(32, 50, 173, 0.2);
        .select-search{
            position: relative;
            i{
                right: 0;
                top: 0;
                @media (max-width: 576px) {
                    display: none;
                }
            }
        }
        select{
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            font-weight: 600;
            width: 150px;
            height: 50px;
            color: $color-primary;
            border-radius: 4px 0 0 4px;
            font-size: $font-size-xs;
            outline: none;
            border-right: 1px solid $color-border;
            border-left: 0;
            border-bottom: 0;
            border-top: 0;
            @media (max-width: 576px) {
                width: auto;
                font-size: 10px;
                height: 45px;
            }
            option{
                border: 0;
                color: $color-black;
                font-weight: 500;
            }
        }
        .search{
           position: relative; 
           i{
               font-size: $font-size-md;
               color: $color-primary;
               position: absolute;
               right: 10px;
               top: 10px;
               @media (max-width: 576px) {
                font-size: $font-size-sm;
            }
           }
        }
        input[type="text"]{
            outline: none;
            box-shadow: none;
            border-radius: 0 4px 4px 0;
            border: 0;
            font-size: $font-size-xs;
            @media (max-width: 576px) {
                font-size: 10px;
                height: 45px;
            }
        }
    }
}
#main-content{
    margin: 32px 0;
    .info-kampus{
        .heading-kampus{
            padding-bottom: 20px;
            border-bottom: 1px solid $color-border;
            margin-bottom: 20px;
            img{
                width: 55px;
                height: 55px;
                min-width: 55px;
                min-height: 55px;
                max-width: 55px;
                max-height: 55px;
                object-fit: contain;
                margin-right: 8px;
            }
            h2{
                font-size: 14px;
                font-weight: 600;
                color: $color-black;
                margin-bottom: 4px;
                line-height: 21px;
                letter-spacing: 0.005em;
            }
            p{
                font-size: $font-size-xs;
                letter-spacing: 0.005em;
                color: $color-black-alpha;
                margin: 0;
                font-weight: 600;
            }
        }
        .list-info{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
            img{
                margin-right: 12px;
                width: 36px;
                height: 36px;
            }
            h4{
                font-size: $font-size-xs;
                margin-bottom: 0;
                letter-spacing: 0.005em;
                text-transform: capitalize;
            }
        }
    }
    .info-website{
        img{
            width: 100%;
            height: 368px;
            object-fit: contain;
            @media (max-width: 576px) {
                height: auto;
            }
        }
    }
    .container-chart{
        position: relative;
        canvas{
            @media (max-width: 576px) {
                width: 170px !important;
                height: auto !important;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .chart-rasio{
            position: absolute;
            top: 92px;
            text-align: center;
            left: 43%;
            @media (max-width: 576px) {
                position: absolute;
                top: 65px;
                text-align: center;
                left: 45.6%;
            }
            
            h4{
                font-size: $font-size-sm;
                font-weight: bold;
                margin-bottom: 0;
                color: $color-black;
            }
            small{
                font-size: 12px;
                color: $color-black-alpha;
            }
        }
    }
    .chart-rasio-footer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .chart-label{
            border-right: 1px solid $color-border;
            padding: 0 28px;
            text-align: center;
            h4{
                font-weight: 600;
                font-size: $font-size-lg;
                line-height: 36px;
                letter-spacing: 0.005em;
                text-transform: capitalize;
                margin-bottom: 0;
                color: $color-black;
            }
            small{
                font-weight: 500;
                font-size: $font-size-xs;
                line-height: 18px;
                letter-spacing: 0.005em;
                text-transform: capitalize;
                color: $color-black-alpha;
            }
            .small-label{
                display: flex;
                align-items: center;
                .red-dot{
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
                    margin-right: 4px;
                }
                .blue-dot{
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
                    margin-right: 4px;
                }
            }
            &:last-child{
                border-right: none !important;
            }
        }
    }
    .info-stat{
        margin-bottom: 20px;
        margin-right: 4px;
        img{
            margin-right: 12px;
            width: 36px;
            height: 36px;
        }
        .info{
            small{
                font-weight: 500;
                font-size: 10px;
                line-height: 0;
                letter-spacing: 0.005em;
                text-transform: capitalize;
                color: $color-black-alpha;
                margin-bottom: 3px;
            }
            h4{
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.005em;
                text-transform: capitalize;
                color: $color-black;
                margin-bottom: 0;
            }
        }
    }
    .jumlah-akreditasi-prodi{
        width: 100%;
        margin-bottom: 16px;
        border-bottom: 1px solid $color-border;
        padding-bottom: 16px;
        &:last-child{
            border-bottom: 0;
        }
        img{
            width: 40px;
            height: 40px;
            margin-right: 12px;
        }
        .info{
            margin-top: -5px;
            small{
                font-weight: 500;
                font-size: 10px;
                line-height: 0;
                letter-spacing: 0.005em;
                text-transform: capitalize;
                color: $color-black-alpha;
                margin-bottom: 3px;
            }
            h4{
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.005em;
                text-transform: capitalize;
                color: $color-black;
                margin-bottom: 0;
            }
        }
        button{
            background: #FFFFFF;
            border: 1px solid $color-primary;
            border-radius: 4px;
            padding: 6px 16px;
            font-size: 12px;
            letter-spacing: 0.005em;
            text-transform: capitalize;
            color: $color-primary;
            font-weight: 500;
        }
    }
    .info-jml-mahasiswa{
        margin-top: 20px;
        .round-gradient{
            &-1{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
            }
            &-2{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
            }
            &-3{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #E43A15 0%, #E65245 100%);
            }
            &-4{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #FFB75E 0%, #ED8F03 100%);
            }
            &-5{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #834D9B 0%, #D04ED6 100%);
            }
            &-6{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #FFB347 0%, #FFCC33 100%);
            }
            &-7{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #FF5F6D 0%, #FFC371 100%);
            }

            // Total Mahasiswa berdasarkan Jurusan 
            &-9{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
            }
            &-10{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #673AB7 0%, #512DA8 100%);
            }
            &-11{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #834D9B 0%, #D04ED6 100%);
            }
            &-12{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #2B5876 0%, #4E4376 100%);
            }
            &-13{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
            }
            // Pendidikan Dosen 
            &-14{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #F953C6 0%, #B91D73 100%);
            }
            &-15{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #1DA1F2 0%, #009FFC 100%);
            }
            &-16{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
            }
            &-17{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #C0392B 0%, #8E44AD 100%);
            }
            &-18{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #200122 0%, #6F0000 100%);
            }
            &-19{
                border-radius: 3px;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);
            }
        }
        small{
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.005em;
            text-transform: capitalize;
            color: $color-black;
            display: inline-flex;
        }
    }
    .progress-total-mhs {
        height: 32px;
        overflow: hidden;
        font-weight: 600;
        font-size: 10px;
        letter-spacing: 0.005em;
        text-transform: capitalize;
        border-radius: 50px;
        margin-top: 20px;
        background-color: transparent;
        width: 100%;
        .progress-gradient{
            &-laki{
                border-radius: 36px;
                border: 2px solid #fff;
                background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
                z-index: 1;
            }
            &-perempuan{
                margin-left: -24px;
                border-radius: 36px;
                border: 2px solid #fff;
                background: linear-gradient(90deg, #FF5F6D 0%, #FFC371 100%);
                z-index: 0;
            }
            &-dosen-laki{
                border-radius: 36px;
                border: 2px solid #fff;
                background: linear-gradient(90deg, #1488CC 0%, #2B32B2 100%);
                z-index: 1;
            }
            &-dosen-perempuan{
                margin-left: -24px;
                border-radius: 36px;
                border: 2px solid #fff;
                background: linear-gradient(90deg, #FF512F 0%, #F09819 100%);
                z-index: 0;
            }
            // Jumlah mahasiswa berdasarkan jenjang 
            &-jenjang-1{
                border-radius: 36px;
                border: 2px solid #fff;
                background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
                z-index: 4;
            }
            &-jenjang-2{
                margin-left: -24px;
                border-radius: 36px;
                border: 2px solid #fff;
                background: linear-gradient(90deg, #673AB7 0%, #512DA8 100%);
                z-index: 3;
            }
            &-jenjang-3{
                margin-left: -24px;
                border-radius: 36px;
                border: 2px solid #fff;
                background: linear-gradient(90deg, #834D9B 0%, #D04ED6 100%);
                z-index: 2;
            }
            &-jenjang-4{
                margin-left: -24px;
                border-radius: 36px;
                border: 2px solid #fff;
                background: linear-gradient(90deg, #2B5876 0%, #4E4376 100%);
                z-index: 1;
            }
            &-jenjang-5{
                margin-left: -24px;
                border-radius: 36px;
                border: 2px solid #fff;
                background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
                z-index: 0;
            }
        }
    }
}
.card-component{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(234, 234, 234, 0.25);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 32px;
    min-height: 395px;
    .title{
        margin-bottom: $font-size-md;
        h4{
            font-size: 14px;
            font-weight: 600;
            color: $color-black;
            margin-bottom: 4px;
            line-height: 21px;
            letter-spacing: 0.005em;
            text-transform: capitalize;
        }
        p{
            font-size: $font-size-xs;
            letter-spacing: 0.005em;
            color: $color-black-alpha;
            margin: 0;
            font-weight: 600;
        }
    }
    @media (max-width: 576px) {
        height: auto;
        min-height: 0;
    }
}
.card-component-small{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(234, 234, 234, 0.25);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 32px;
    min-height: 180px;
    .title{
        margin-bottom: 8px;
        h4{
            font-size: 14px;
            font-weight: 600;
            color: $color-black;
            margin-bottom: 4px;
            line-height: 21px;
            letter-spacing: 0.005em;
            text-transform: capitalize;
        }
        p{
            font-size: $font-size-xs;
            letter-spacing: 0.005em;
            color: $color-black-alpha;
            margin: 0;
            font-weight: 600;
        }
        .red-gradient{
            background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .blue-gradient{
            background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .jumlah-total{
        h3{
            margin-bottom: 0;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0.005em;
            text-transform: capitalize;
        }
        .red-gradient{
            background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .blue-gradient{
            background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    @media (max-width: 576px) {
        height: auto;
        min-height: 0;
    }
}
.card-texture{
    background:url("/img/card-texture.png");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 189px;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(234, 234, 234, 0.25);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 28px;
    @media (max-width: 576px) {
        height: auto;
        min-height: 0;
    }
    .title{
        margin-bottom: $font-size-md;
        h4{
            font-size: 14px;
            font-weight: 600;
            color: $color-black;
            margin-bottom: 4px;
            line-height: 21px;
            letter-spacing: 0.005em;
        }
        p{
            font-size: $font-size-xs;
            letter-spacing: 0.005em;
            color: $color-black-alpha;
            margin: 0;
            font-weight: 600;
        }
    }
    h3{
        margin-bottom: 0;
        font-size: 40px;
        font-weight: 700;
    }
    .red-gradient{
        background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .blue-gradient{
        background: linear-gradient(90deg, #00C6FF 0%, #0072FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
    }
.skeleton-info-pt * {
    visibility: hidden;
}
.skeleton-web-stats * {
    visibility: hidden;
}
.skeleton-web * {
    visibility: hidden;
}
.skeleton-lokasi * {
    visibility: hidden;
}
.skeleton-rasio-dosen * {
    visibility: hidden;
}
.skeleton-prodi * {
    visibility: hidden;
}
.skeleton-chart * {
    visibility: hidden;
}
.skeleton-progress * {
    visibility: hidden;
}
.skeleton-info-pt {
    background-image: url('/img/skeleton/skeleton-info-pt.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0,    rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
        animation: shimmer 1s infinite;
        content: '';
    }
}
.skeleton-web-stats {
    background-image: url('/img/skeleton/skeleton-web-stats.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0,    rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
        animation: shimmer 1s infinite;
        content: '';
    }
}
.skeleton-web {
    background-image: url('/img/skeleton/skeleton-web.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0,    rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
        animation: shimmer 1s infinite;
        content: '';
    }
}
.skeleton-lokasi {
    background-image: url('/img/skeleton/skeleton-lokasi.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0,    rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
        animation: shimmer 1s infinite;
        content: '';
    }
}
.skeleton-rasio-dosen {
    background-image: url('/img/skeleton/skeleton-rasio-dosen.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0,    rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
        animation: shimmer 1s infinite;
        content: '';
    }
}
.skeleton-prodi {
    background-image: url('/img/skeleton/skeleton-prodi.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0,    rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
        animation: shimmer 1s infinite;
        content: '';
    }
}
.skeleton-chart {
    background-image: url('/img/skeleton/skeleton-chart.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0,    rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
        animation: shimmer 1s infinite;
        content: '';
    }
}
.skeleton-progress {
    background-image: url('/img/skeleton/skeleton-progress.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0,    rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
        animation: shimmer 1s infinite;
        content: '';
    }
}