/**

	VARIABLE:
	- Color Palletes
	- Typography

 */


 /**
=========================
	- Color Palletes
=========================
*/
$color-primary:        #0052D4;
$color-primary-alpha:  #4364F7;
$color-border:         #EFF1FF;
$color-black:          #232429;
$color-black-alpha:    #7A7A7A;

 /**
=========================
	- Typography
=========================
*/
$font-family:  'Poppins', sans-serif;

/**
=========================
	- Shadow
=========================
*/

$main-shadow: 0px 8px 16px rgba(234, 234, 234, 0.25);

/**
=========================
	- Font Size
=========================
*/

$font-size-xs : 12px;
$font-size-sm : 16px;
$font-size-md : 20px;
$font-size-lg : 24px;
$font-size-xl : 28px;